<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hitsmyauthtestfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/77d9206d-4aa9-4ebb-a46c-6859ab85a638/resourceGroups/hits-test-stuff/providers/Microsoft.Web/sites/HitsMyAuthTestFunc</ResourceId>
    <UserName>$HitsMyAuthTestFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://hitsmyauthtestfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>